<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>plugin content</title>
</head>
<body>
    <div>
        <div>
            <p>ASP.NET MVC 插件化：Plugin Content</p>
            <p>autofac注入插件：@ViewBag.Show</p>
        </div>
    </div>
</body>
</html>
