<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="row">
            <p>这里是autofac注入的主项目：@ViewBag.Show </p>
            @Html.ActionLink("Demo插件内容访问点击这里", "Index", "PluginsHome", null, null)
        </div>
    </div>
</body>
</html>
